@import '../Variables';

.card {
    padding: 16px;
    height: 444px;
    min-width: 280px;
    max-width: 386px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 35px transparent;
    transition: all 0.5s;

    &__image-div {
        width: 100%;
        height: 330px;
        background-color: rgb(228, 227, 227);
        position: relative;
    }

    &__button-div {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            position: absolute;
            background-color: transparent;
            right: 15px;
            bottom: -26px;
            display: none;
            transition: all 0.5s;

    }

    &__item-name {
        font-size: 1.125em;
        font-weight: 300;
        line-height: 29px;
    }

    &__item-price {
        font-size: 1.125em;
        font-weight: 500;
        line-height: 29px;
    }

    &:hover {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        cursor: default;
    }

    &:hover &__button-div {
       display: block;
       background-color: $primaryColor;
    }

    &__button-div:hover {
        cursor: pointer;
    }
}
