@import '../Variables';

.navbar {
    width: 100%;
    height: 80px;
    padding: 0 101px;
    // background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__list-item {
        list-style: none;
        height: 100%;
        line-height: 80px;
        padding: 0 16px;
        border-bottom: 2px solid transparent;

        &--active {
            border-bottom: 2px solid $primaryColor;
            color: $primaryColor;
            font-weight: 600;
        }
    }

    &__logo {
        flex: 1;
        // width: 31px;
        // height: 29px;
        background-color: $primaryColor;
    }

    &__icons {
        flex: 1;
        background-color: $secondaryColor;
    }
}